{#stylesheets block#}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endblock %}

{#Output of big image#}
<h2>Big image</h2>
<img class="big_image" src="img/{{ big_image }}" alt="">

{#Output of images#}
<h2>Images overview:</h2>

<ul>
    {% for key, image in images  %}
        <li class="wrap_img">
            <a href="/php1.5/photo.php?big_image_url={{ image.img_url }}&id={{ image.id }}">
            <img class="small_images" src="img/s/{{ image.img_url }}" alt=""></a>
            <p>{{ image.views }} views</p>
        </li>
    {% endfor %}
</ul>
<div class="clear_fix"></div>

{#Form to send image#}
<h2>Here you can upload new image:</h2>
<form action="/php1.5/inc/send.php" method="POST" enctype="multipart/form-data">
    <input type="title" name="first_name">
    <input type="file" name="myfile">
    <input type="submit" value="submit">
</form>