{#stylesheets block#}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endblock %}

{#Output of big image#}
<h2>Big image</h2>
<img class="big_image" src="img/{{ big_image }}" alt="">

{#Output of images#}
{% include 'output_images.tmpl' %}

{#Form to send image#}
{% include 'form.tmpl' %}