<h2>Here you can upload new image:</h2>
<form action="/php1.5/inc/send.php" method="POST" enctype="multipart/form-data">
    <input type="title" name="first_name">
    <input type="file" name="myfile">
    <input type="submit" value="submit">
</form>