{#Style files#}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endblock %}

{#Output of images#}
{% include 'output_images.tmpl' %}

{#Form to send image#}
{% include 'form.tmpl' %}